# CSV파일 불러오기

In [3]:
import pandas as pd
data_file = "datas/korea-star.csv"
df = pd.read_csv(data_file)
df

      이름     그룹      소속사  성별        생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260

In [ ]:
## 3.json파일 불러오기

In [6]:
data_file = "datas/stock_price_years.json"
df = pd.read_json(data_file)
df

            date   price
0     2023.01.27  327.98
1     2023.01.26  325.57
2     2023.01.25  320.76
3     2023.01.20  315.58
4     2023.01.20  315.58
...          ...     ...
4923
4924
4925
4926
4927

[4928 rows x 2 columns]

In [8]:
data_file = "datas/news_data.csv"
# df = pd.read_csv(data_file) header 디폴트 True
df = pd.read_csv(data_file, header=None)
df

,0,1
0,헤드라인,이미지_url
1,"이낙연, 尹 파면에 ""당연한 결과""…통합·회복 당부",https://mimgnews.pstatic.net/image/origin/018/...
2,"한덕수 대행, 14일까지 대선 날짜 정해야… ‘6월3일 화요일’ 유력",https://mimgnews.pstatic.net/image/origin/021/...
3,"'尹 파면' 적막의 국힘…권성동 ""겸허히 수용, 대선 승리 위해 뭉치자""",https://mimgnews.pstatic.net/image/origin/008/...
4,"韓대행 ""국민 뜻 받들어 차기 대선관리에 최선""(종합)",https://mimgnews.pstatic.net/image/origin/079/...
...,...,...
267,"관세 공포에 AI 버블 터지나…사업 지연, 투자 중단 등 타격 가시화",https://mimgnews.pstatic.net/image/origin/011/...
268,재계 “경제살리기 매진할 때…규제·관세 리스크 해소 희망” [헌재 尹대통령 전원일치...,https://mimgnews.pstatic.net/image/origin/016/...
269,[윤석열 파면] SW업계 “정치적 불확실성 해소... 투자·사업 재개 기대”,https://mimgnews.pstatic.net/image/origin/138/...
270,"김수현 '넉오프' 보류한 디즈니+, '재혼황후'로 텐트폴 채울까",https://mimgnews.pstatic.net/image/origin/138/...
271,"[윤석열 파면] ""카톡 또 안 돼요""…카카오톡, 선고 순간 또 멈췄다",https://mimgnews.pstatic.net/image/origin/629/...